<?php if (($image->code != "018") && ($image->code != "118")) { ?>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- vv7 galeria felso 728 -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:728px;height:90px"
             data-ad-client="ca-pub-7608414666602082"
             data-ad-slot="2540567756"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
<?php } ?>
